<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp verification</title>
</head>
<link rel="stylesheet" href={% static "/css/otp.css" %}>
<body>

    <form method="POST">
        {% csrf_token %}
        <div class="otp-card">
            <h1>OTP Verification</h1>
            <p>Code has been sent to ******123</p>
            <div class="otp-card-input">
                <input type="text" maxlength="1" name="otp1" autofocus>
                <input type="text" maxlength="1" name="otp2">
                <input type="text" maxlength="1" name="otp3">
                <input type="text" maxlength="1" name="otp4">
                <input type="text" maxlength="1" name="otp5">
                <input type="text" maxlength="1" name="otp6">
            </div>
            <p>Didn't get the OTP? <a href="#">Resend</a></p>
            <button type="submit">Verify</button>
        </div>
    </form>
</body>
<script src={% static "/js/otp.js" %}></script>
</html>